.u-section-1 .u-sheet-1 {
  min-height: 1106px;
}

.u-section-1 .u-text-1 {
  margin: 46px auto 0;
}

.u-section-1 .u-form-1 {
  height: 321px;
  width: 570px;
  margin: 76px auto 0;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 321px;
  margin: 38px auto 60px 273px;
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: 31px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 308px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -248px;
    margin-left: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1142px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
    margin-top: 256px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 304px;
    margin-top: -196px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 990px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
    margin-top: 296px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 191px;
    margin-top: -236px;
  }
}