.u-section-1 .u-sheet-1 {
  min-height: 1114px;
}

.u-section-1 .u-form-1 {
  height: 576px;
  margin: 126px 253px 0 318px;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-image-1 {
  width: 374px;
  height: 211px;
  margin: 0 auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    width: 470px;
    margin-left: 218px;
    margin-right: 153px;
  }

  .u-section-1 .u-form-group-3 {
    min-height: 757px;
    height: auto;
    margin-top: -118px;
    margin-bottom: 0;
  }

  .u-section-1 .u-image-1 {
    height: 210px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    margin-left: 108px;
    margin-right: 43px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1095px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 191px;
  }
}