.u-section-1 .u-sheet-1 {
  min-height: 908px;
}

.u-section-1 .u-group-elements-1 {
  width: 449px;
  min-height: 140px;
  height: auto;
  margin: 30px 331px 0 auto;
}

.u-section-1 .u-image-1 {
  width: 140px;
  height: 140px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: -103px 0 0 140px;
}

.u-section-1 .u-form-1 {
  height: 577px;
  margin: 11px 270px 60px 299px;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    margin-right: 170px;
    margin-left: 199px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-elements-1 {
    margin-right: 271px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 60px;
    margin-left: 89px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-elements-1 {
    margin-right: 91px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-elements-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
}