.u-section-1 .u-sheet-1 {
  min-height: 850px;
}

.u-section-1 .u-text-1 {
  margin: 51px auto 0;
}

.u-section-1 .u-form-1 {
  height: 567px;
  margin: 18px 656px 0 18px;
}

.u-section-1 .u-image-1 {
  margin-left: 0;
  width: 413px;
  height: 247px;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-form-2 {
  height: 528px;
  margin: -528px 50px 60px 615px;
}

.u-section-1 .u-image-2 {
  margin-left: 0;
  width: 456px;
  height: 208px;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-form-group-8 {
  margin-left: 0;
}

.u-section-1 .u-form-group-9 {
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 600px;
  }

  .u-section-1 .u-form-1 {
    margin-top: -530px;
    margin-right: 473px;
    margin-left: 0;
  }

  .u-section-1 .u-form-2 {
    margin: 20px 0 0 465px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    margin-right: 253px;
  }

  .u-section-1 .u-form-2 {
    margin-left: 245px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    margin-right: 73px;
  }

  .u-section-1 .u-form-2 {
    margin-top: -528px;
    margin-left: 65px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    margin-right: 0;
  }

  .u-section-1 .u-form-2 {
    margin-left: 0;
  }
}